[*.cs]

# IDE0180: Use tuple to swap values
dotnet_diagnostic.IDE0180.severity = suggestion

# MA0075: Do not use implicit culture-sensitive ToString
dotnet_diagnostic.MA0075.severity = none

# MA0011: IFormatProvider is missing
dotnet_diagnostic.MA0011.severity = none
